@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

#opening {
  position:fixed;
  background-image: url("backg1.png");
  background-size:100%;
  background-attachment: fixed;
  background-repeat:no-repeat;
}

.door {
  position:fixed;
  width:100%;
  height:100%;
  cursor:pointer;
  transform-style: preserve-3d;
  transform:perspective(2500px);
  padding-left:41.8%;
  padding-top:14.8%;
}

.door-front{
  position:fixed;
  width:10.8%;
  height:49.7%;
  transform-origin: left;
  overflow:hidden;
  box-shadow:30px 0 50px rgba(0, 0, 0, 0, 2);
  z-index: 1;
  background-image:url("door1.png");
  background-repeat:no-repeat;
  background-size:100%;
  transition:5s;
}
.door-front:before, .door-front:after {
  content:"";
  position:absolute;
}

.door:hover .door-front{
  transform:rotateY(90deg) ;
}

#nav {
    border-radius: 50px;
    padding:1%;
    background-image: url("banner.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

#nav a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Rye', cursive;
    text-shadow: white 1px 1px;
}

#nav a:hover{
    color: purple;
}


/* you can make a comment */

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Luxurious Roman', cursive;
    color:rgb(253, 253, 251);
    font-size:40px;
}

p {
    text-align: center;
    color:rgb(123, 0, 255);
    background-color: seashell;
}

#showMe {
  animation: cssAnimation 0s 10s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}

.button2{
    display:block;
    position:fixed;
    font-family: 'Rye', cursive;
    text-align: center;
    padding:1%;
    margin-top:36% ;
    margin-left:43.8% ;
    width: 18em;  height: 7em;
}
.title{
  display:block;
  text-shadow: black 1, 5;
  position:fixed;
  font-family: 'Rye', cursive;
  text-align: center;
  margin-left:16%;
  margin-top:5%;
  font-size:6vh;
  background-color: transparent;
  color:white;
}




.roland{
    background-image:url("roland.gif");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: fixed;
    background-attachment: fixed;

}
